:root{
  --bg-color:#4E2C2C;
  --border-radius:0.375rem;
  --text-color:#FFFFFF;
  --font-size:1rem;
  --font-weight:400;
}

textarea.text-area-trait-panel{
  background-color:#4E2C2C;
  border-radius: 6px;
  outline: none;
  border: none;
  resize: none;
  width: calc(100% - 1.875rem);
  height: 5.6875rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--text-color);
  padding-left: 0.6rem;
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 0.6rem;
}

textarea.text-area-trait-panel:focus{
  border: 0.0625rem solid gray;
}

/* textarea.text-area-trait-panel:valid{
  border: 0.0625rem solid rgba(0, 128, 0, 0.755);
}
textarea.text-area-trait-panel:invalid{
  border: 0.0625rem solid red;
} */
