
button.panel-button{
    background-color: #462627;
    outline: none;
    border: none;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.panel-button:active , button.panel-button:hover{
  background-color: #833A3A;
}